* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a.btn-1,
a.btn-2 {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  border-radius: 5px;
  overflow: hidden;
  background: #09F;
}
span {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }

  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}